.section {
  background-color: #c92620;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  width: 350px;
  height: auto;
}

.buttonList {
  margin-bottom: 0;
  a {
    background-color: #000000;
    color: #f7f7f7;
    border-radius: 5px;
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 400;
    &:hover,
    &:focus,
    &:active {
      background-color: #000000;
      color: #f7f7f7;
    }
  }
}

.heading {
  color: #000000;
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  @media only screen and (max-width: 1000px) {
    font-size: 32px;
  }
  @media only screen and (max-width: 750px) {
    font-size: 28px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 24px;
  }
}

.text {
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  @media only screen and (max-width: 1000px) {
    font-size: 22px;
  }
  @media only screen and (max-width: 750px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 18px;
  }
}

.flexList {
  padding-top: 30px;
  justify-content: space-between;
}

.statValue {
  color: #000000;
  font-weight: 900;
}

.statLabel {
  color: #f7f7f7;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  @media only screen and (max-width: 1000px) {
    font-size: 26px;
  }
  @media only screen and (max-width: 750px) {
    font-size: 24px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 22px;
  }
}

.flex {
  align-items: center;
}
