// reset css
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// about us
.heading {
  color: red;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 25px;
}

.slogan {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  opacity: 0.6;
}

.aboutText {
  font-size: 15px;
  color: #20C20E;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

.memberList {
  margin-top: 48px;
  overflow: hidden;
}

.memberItem {
  float: left;
  width: 25%;
  text-align: center;
}

.memberName {
  font-size: 15px;
}

.memberImage {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
